@model Shop.Web.Models.Category.CategoryIndexModel
@using Microsoft.AspNetCore.Identity
@using Shop.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Food categories</h1>

@if (User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-block btn-default" asp-controller="Category" asp-action="New">New category</a>
    </div>
}
@if (!Model.CategoryList.Any())
{
    <h3>It looks like there are no categories right now...</h3>
}
else
{
    <table class="table table-hover" id="categoryIndexTable">
        <tbody>
            @foreach (var category in Model.CategoryList)
            {
                <tr>
                    <td>

                        <div class="categoryLogo" style="background-image: url(@category.ImageUrl); background-size:100%;"></div>
                        <a class="btn btn-info" asp-controller="Category" asp-action="Topic" asp-route-id="@category.Id">
                            @category.Name
                        </a>
                    </td>
                    <td>
                        @category.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@*@model Shop.Web.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Healthy, Cheap, Easy...</div>
            <p class="frontPageSubHeading">This is online shopping site for food</p>
            <div>
                <form asp-controller="Home" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..." />
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestFoods">Prefered products</h3>
        <table class="table table-hover" id="latestFoodsTable">
            <tbody>
                @foreach (var food in Model.FoodsList)
                {
                    <tr>
                        <td>
                           @Html.Partial("FoodSummary", food) 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@
